body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(114, 96, 131);
}

.center {
    text-align: center;
}

h2 {
    color: rgb(90, 14, 90);
    text-shadow: -1px 1px 1px rgb(255, 255, 255);
}
h4 {
    color: rgb(0, 0, 0);
    text-shadow: -2px 2px 1px rgb(255, 255, 255);
}


footer img {
    width: 50px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;

}

footer p {
    margin-top: 2px;

}
.container {
    padding: 0px 50px;
}

nav a:hover {
    color: rgb(90, 14, 90);
}